body{
    background-color: rgb(1, 14, 14);
    color: antiquewhite;
}
.head{
    text-align: center;
    font-size: 45px;
    text-decoration: overline;


}
a{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 5px;
}
a:hover{
    color: black;
    background-color: wheat;
    text-decoration: underline;
}
.stand{
    text-align: center;
    list-style: none;
    border: 2px solid black;
    width: 250px;
    height: 440px;
    color: black;
    position: absolute;
    left: 25px;
    top: 95px;    
    font-family: 'Noto Sans', sans-serif;
    margin: 95px 60px;
    padding: 40px;
    text-align: center;
    list-style: none;
    
    border-radius: 28px;
    background-color:white ;
}
.pro{
    border: 2px solid white;
    width: 250px;
    height: 440px;
    color: black;
    position: absolute;
    right: 25px;
    top: 95px;    
    font-family: 'Noto Sans', sans-serif;
    margin: 95px 60px;
    padding: 40px;
    text-align: center;
    list-style: none;
    
    border-radius: 28px;
    background-color: lightblue;
}
#stan{
    font-size: 25px;
    background-color: orange;
    border:3px solid black;
    border-radius: 10px;
}
.prop{
    font-size: 25px;
    background-color: orange;
    border:3px solid black;
    border-radius: 10px;
}
.gold{
    text-align: center;
    list-style: none;
        border: 2px solid black;
        width: 250px;
        color: black;
        position: absolute;
        right: 525px;
        top: 95px;    
        font-family: 'Noto Sans', sans-serif;
        margin: 95px 60px;
        padding: 40px;
        height: 440px;
        border-radius: 28px;
        background-color: lightyellow;
    
}
#g{
    font-size: 25px;
    background-color: orange;
    border:3px solid black;
    border-radius: 10px;

}
.fac{
    text-align: left;
    font-size: 20px;
    font-weight: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#facpro{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
}
.p{
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightgreen;
    font-size: 25px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#o{
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightsteelblue;
    font-size: 25px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.facgol,.facst{

        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkred;
}
.gola , .stn{
    text-align: left;
    font-size: 20px;
    font-weight: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#q{
border: 2px solid black;
border-radius: 15px;
background-color: lightcyan;
font-size: 25px;
color: red;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    